# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
.next/
out/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
!backend/.env.staging
!backend/.env.example
!backend/.env.prod

# Config files (usar .example.js como templates)
**/config.dev.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Archivos temporales
temp/
*.bak
*.tmp

# SSL Certificates
ssl/certbot/conf/*
!ssl/certbot/conf/*.example
ssl/certbot/www/*
