# Dependencias
node_modules
**/node_modules
.pnpm-store
.npm
pnpm-debug.log*

# Build
dist
build
.cache
.vite

# Sistema y editores
.DS_Store
.idea
.vscode
*.swp
*.swo
*~

# Control de versiones
.git
.gitignore
.svn
.hg

# Configuración y logs
.env*
*.log
.eslintcache
.stylelintcache
coverage
.nyc_output

# Archivos innecesarios
*.md
*.txt
*.lock
*.yaml
!package.json
!pnpm-lock.yaml
!vite.config.js
!index.html
!src/**/*
test
tests
__tests__
*.test.js
*.spec.js
docs
examples
.husky

# Permitir solo los archivos necesarios
!package.json
!package-lock.json
!vite.config.js
!index.html
!src/**
!public/**

# Asegurarse de ignorar archivos innecesarios incluso en directorios permitidos
**/*.log
**/.DS_Store
**/.env*
**/node_modules
**/.git
**/.vscode
**/*.md
**/*.test.*
**/__tests__
**/*.spec.*
**/coverage
**/.nyc_output
**/.cache
**/.vite 